name: PR

on:
  workflow_dispatch:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  test-commmit-sha:
    if: github.event.pull_request.draft == false
    name: test-commmit-sha
    runs-on: ubuntu-latest
    
    steps:
      - name: Inject slug/short variables
        uses: rlespinasse/github-slug-action@v4

      - name: "Checkout ${{ github.head_ref }} ( ${{ github.event.pull_request.head.sha }} ) for event action: ${{ github.event.action }} and event name: ${{ github.event_name }}"
        uses: actions/checkout@v4
        with:
          persist-credentials: false

      - shell: bash
        name: "Extract git sha"
        run: |
          mkdir _tmp
          echo $(date +"%Y-%m-%dT%H:%M:%S%z") ${GITHUB_HEAD_REF} ${GITHUB_EVENT_PULL_REQUEST_HEAD_SHA:0:7} > _tmp/sha.txt
          cat _tmp/sha.txt
