# This is a basic workflow to help you get started with Actions
name: Test variables windows

# Controls when the workflow will run
on:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
    inputs:

      environment:
        type: choice
        default: TEST
        options:
          - TEST
          - PROD

jobs:
  test:
    runs-on: windows-latest
    
    steps:
    - name: Checkout
      uses: actions/checkout@v3.0.0


    - name: Replace tokens in appsettings.*.json
      uses: cschleiden/replace-tokens@v1
      with:
        tokenPrefix: '___'
        tokenSuffix: '___'
        files: '["appsettings.*.json"]'
      env:
        DB_USER_TEST: ${{secrets.DB_USER_TEST}}
        DB_PWD_TEST: ${{secrets.DB_PWD_TEST}}
        DB_HOST_TEST: ${{secrets.DB_HOST_TEST}}
        DB_NAME_TEST:  ${{secrets.DB_NAME_TEST}}
        
        DB_USER_PROD: ${{secrets.DB_USER_PROD}}
        DB_PWD_PROD: ${{secrets.DB_PWD_PROD}}
        DB_HOST_PROD: ${{secrets.DB_HOST_PROD}}
        DB_NAME_PROD:  ${{secrets.DB_NAME_PROD}}

    - name: cat appsettings.Test.json
      run: |
        type .\appsettings.Test.json

    - name: Setup variables
      run: |
        if ('${{ github.event.inputs.environment }}' -ceq 'PROD')
        {
          echo "FTP_SERVER=$(echo ${{ secrets.FTP_SERVER_PROD }})" | Out-File -FilePath $Env:GITHUB_ENV -Encoding utf-8 -Append
          echo "FTP_USER=$(echo ${{ secrets.FTP_USER_PROD }})" | Out-File -FilePath $Env:GITHUB_ENV -Encoding utf-8 -Append
          echo "FTP_PWD=$(echo ${{ secrets.FTP_PWD_PROD }})" | Out-File -FilePath $Env:GITHUB_ENV -Encoding utf-8 -Append
          echo "TOPOLINO=$(echo nonnapapera_prod)" | Out-File -FilePath $Env:GITHUB_ENV -Encoding utf-8 -Append
        }
        else
        {
          echo "FTP_SERVER=$(echo ${{ secrets.FTP_SERVER_TEST }})" | Out-File -FilePath $Env:GITHUB_ENV -Encoding utf-8 -Append
          echo "FTP_USER=$(echo ${{ secrets.FTP_USER_TEST }})" | Out-File -FilePath $Env:GITHUB_ENV -Encoding utf-8 -Append
          echo "FTP_PWD=$(echo ${{ secrets.FTP_PWD_TEST }})" | Out-File -FilePath $Env:GITHUB_ENV -Encoding utf-8 -Append
          echo "TOPOLINO=$(echo paperone_test)" | Out-File -FilePath $Env:GITHUB_ENV -Encoding utf-8 -Append
        }
      
        
    # Runs a set of commands using the runners shell
    - name: Run a multi-line script
      run: |
        echo "il valore di github.event.inputs.environment è ${{ github.event.inputs.environment }}"
        echo "il valore di env.FTP_SERVER è ${{ env.FTP_SERVER }}"
        echo "il valore di env.FTP_USER è ${{ env.FTP_USER }}"
        echo "il valore di env.FTP_PWD è ${{ env.FTP_PWD }}"
        echo "il valore di env.TOPOLINO è ${{ env.TOPOLINO }}"
