# This is a basic workflow to help you get started with Actions
name: Test variables

# Controls when the workflow will run
on:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
    inputs:
      pippo:
        type: string
        default: pluto
        
      environment:
        type: choice
        default: TEST
        options:
          - TEST
          - PROD

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    # - name: Setup TEST variables
    #   if: ${{ github.event.inputs.environment }} == TEST
    #   with:
    #     pippo: paperino
    
    - name: Setup TEST variables - 2
      if: ${{ github.event.inputs.environment }} == "TEST"
      run: |
        echo "${{ github.event.inputs.pippo }}"
        echo "$(echo ${{ secrets.FTP_SERVER_TEST }})" >> $github.event.inputs.pippo
        echo "TOPOLINO=$(echo paperone)" >> $GITHUB_ENV
        echo "FTP_SERVER=$(echo ${{ secrets.FTP_SERVER_TEST }})" >> $GITHUB_ENV
        echo "FTP_USER=$(echo ${{ secrets.FTP_USER_TEST }})" >> $GITHUB_ENV
        echo "FTP_PWD=$(echo ${{ secrets.FTP_PWD_TEST }})" >> $GITHUB_ENV
        echo "${{ github.event.inputs.pippo }}"
  
    - name: Setup PROD variables
      if: ${{ github.event.inputs.environment }} == "PROD"
      run: |
        echo "FTP_SERVER=$(echo ${{ secrets.FTP_SERVER_PROD }})" >> $GITHUB_ENV
        echo "FTP_USER=$(echo ${{ secrets.FTP_USER_PROD }})" >> $GITHUB_ENV
        echo "FTP_PWD=$(echo ${{ secrets.FTP_PWD_PROD }})" >> $GITHUB_ENV
        echo "TOPOLINO=$(echo nonnapapera)" >> $GITHUB_ENV
        
    # Runs a set of commands using the runners shell
    - name: Run a multi-line script
      run: |
        echo il valore di github.event.inputs.environment è ${{ github.event.inputs.environment }}
        echo il valore di env.FTP_SERVER è ${{ env.FTP_SERVER }}
        echo il valore di env.FTP_USER è ${{ env.FTP_USER }}
        echo il valore di env.FTP_PWD è ${{ env.FTP_PWD }}
        echo il valore di env.TOPOLINO è ${{ env.TOPOLINO }}
